menu "Example Configuration"

     config ESP_WIFI_STA_RETRY_ATTEMPTS
     	    int "Station Attempts"
	    default 5
	    help
		Number of attempts the ESP (as a station) to connect to external WiFi AP.
endmenu
